# ========================================
# API
# ========================================
VITE_API_BASE_URL=https://{{ env_name }}.deepvis.com.br/backend

# ========================================
# AWS / S3
# ========================================
VITE_AWS3_ACCESS_KEY_ID={{ aws_access_key }}
VITE_AWS3_SECRET_ACCESS_KEY={{ aws_secret_key }}

# ========================================
# AUTH / PERMISSIONS
# ========================================
VITE_PERM_KEY=54782154215
